.App {
  text-align: center;
  background: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  display: flex;
  justify-content: space-around;
  flex-basis: 1;
  font-size: 25px;
}

header * {
  flex-basis: 25%;
  flex-grow: 0;
  font-size: 10px;
  max-width: 80px;
  margin-bottom: 10px;
}

.card {
  padding-right: 10%;
  text-align: left;
}

.searchUserName {
  text-align: left;
  font-size: 18px;
}

.ascending-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 70%;
  margin-left: 10%;
  border: 10px solid darkcyan;
  border-radius: 20px;
  margin-top:20px;
}

.descending-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column-reverse;
  max-width: 70%;
  margin-left: 10%;
  border: 10px solid darkcyan;
  border-radius: 20px;
  margin-top:20px;
}

button {
  text-align: center;
  padding-right: 45px;
  margin-right: 100px;
}

.bullets {
  font-size: 20px;
}
